dotenv
export TOKENIZERS_PARALLELISM="false"
export TF_CPP_MIN_LOG_LEVEL="2"
export TRANSFORMERS_VERBOSITY="error"
export DATASETS_VERBOSITY="error"
export PYTHONPATH="$PWD:$PYTHONPATH"
export TF_FORCE_GPU_ALLOW_GROWTH="true"
